*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Fira Sans", serif;;
}

:root{
    --primary:#C6E4D6;
    --secondary: #F1F1F3;
    --white:#fff;
    --dark:#0E0E0E;
    --button_color:#006A50;
}
body{
    background: #F5F5F5;
}

header{
    width: 1280px;
    margin: 0 auto;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 31px 0;
    align-items: center;
    margin-bottom: 20px;
}
header nav h2{
    font-size: 32px;
    font-weight: bold;
    color: var(--dark);
}

/* banner section start */
.banner{
    padding: 80px 60px;
    background: var(--primary);
    display: flex;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
}
.banner_text_content{
    padding-right: 5px;
}
.banner_text_content h3{
    font-size: 24px;
    font-weight: 500;
    color: var(--dark);
    opacity: 0.5;
}
.banner_title{
    font-size: 56px;
    color: var(--dark);
    font-weight: bold;
    margin: 16px 0 24px 0;
}

/* pillar section start */
.pillar_card_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.pillar_card_wrapper .pillar_card{
    padding: 24px;
    border: 2px solid #9e9c9c27;
    border-radius: 16px;
    background: var(--white);
}
.pillar_card img{
    margin-bottom: 24px;
    width: 64px;
}
.pillar_card .card_title{
    font-size: 20px;
    font-weight: bold;
    color: var(--dark);
    margin-bottom: 12px;
}

.pillar_card .card_description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 1.5;
}

/* vision_future section start */
.vision_card_wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}
.vision_card_wrapper .vision_card{
    padding: 32px;
    border-radius: 16px;
}
.vision_card_wrapper .vision_card:nth-child(1){
    background: rgba(84, 144, 245, 0.2);
}
.vision_card_wrapper .vision_card:nth-child(2){
    background: rgb(198, 228, 214);
}
.vision_card_wrapper .vision_card:nth-child(3){
    background: rgb(247, 235, 207);
    padding: 32px 24px;
}

.vision_card button{
    padding: 11px 20px;
    border: 2px solid transparent;
    outline: none;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
}

.vision_card_wrapper .vision_card:nth-child(1) button{
    background: #5490F5;
    margin-top: 24px;
}
.vision_card_wrapper .vision_card:nth-child(2) button{
    background: #09A15C;
    margin-top: 48px;
}
.vision_card_wrapper .vision_card:nth-child(3) button{
    background: #FFC239;
    margin-top: 48px;
}


.vision_card_wrapper .vision_card:nth-child(1) button:hover{
    background: transparent;
    border-color: #5490F5;
    color: #5490F5;
}
.vision_card_wrapper .vision_card:nth-child(2) button:hover{
    background: transparent;
    border-color: #09A15C;
    color: #09A15C;
}
.vision_card_wrapper .vision_card:nth-child(3) button:hover{
    background: transparent;
    border-color: #FFC239;
    color: #FFC239;
}
.vision_card img{
    width: 64px;
}
.vision_card h3{
    margin: 24px 0 12px 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--dark);
}
.vision_card p{
    color: rgba(14, 14, 14, 0.7);
    line-height: 1.5;
}


/* code section start */
.qoute{
    margin-top: 32px;
    padding: 48px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: url(../assets/quote-bg.png),#fff;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: 24px 24px;
}
.qoute .qoute_description{
    color: rgba(14, 14, 14, 0.8);
    line-height: 1.5;
    margin-bottom: 12px;
}
.qoute .qoute_title{
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    font-weight: 600;
}
.qoute h5{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    margin-top: 5px;
}

/* news section start */
.news{
    background: #fff;
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    border-radius: 24px;
}
.first_news{
    margin-bottom: 24px;
}
.satelite{
    border-radius: 24px;
}
.news .text_content h2{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8)
}
.news .text_content img{
    margin: 12px 0;
}

.news .text_content .time{
    display: flex;
    gap: 12px;
    color: rgba(14, 14, 14, 0.7)
}
.news .news_description{
    margin: 12px 0 32px;
    line-height: 1.5;
    color: rgba(14, 14, 14, 0.7);
}


/* donate section start */
.donate{
    text-align: center;
    padding: 0 88px;
}
.donate_wrapper{
    display: flex;
    justify-content: space-around;
}
.donate_card{
    padding: 40px;
    background: white;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    transition: .3s;
    cursor: pointer;
}
.donate_ammount{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin: 0;
}
.second_donate_card{
    background-color: var(--primary);
}
.donate_card:hover{
    background-color: var(--primary);
}
.second_donate_card:hover{
    background-color: var(--white);
}
.donate form{
    padding: 0 36px;
}
.donate input{
    margin: 32px 0;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: var(--white);
}

/* subscribe section start */
.subscribe{
    background:var(--primary);
    border-radius: 24px;
    padding: 80px;
    text-align: center;
}
.subscribe .section_heading{
    margin-bottom: 16px;
}
.subscribe .section_description{
    margin-bottom: 24px;
}
.subscribe_form{
    width: 750px;
    display: flex;
    margin: 0 auto;
}
.subscribe_form input{
    width: 100%;
    border: none;
    outline: none;
    padding: 18px 40px;
    border-radius: 8px 0 0 8px;
}
.subscribe_form button{
    border-radius: 0 8px 8px 0;
}

.subscribe_subtitle{
    margin-top: 24px;
    color: rgba(14, 14, 14, 0.7);
}

/* footer section start */
footer{
    background: var(--white);
    text-align: center;
    padding: 50px 0;
    margin-top: 80px;
}
footer hr{
    width: 1122px;
    border-color: rgba(14, 14, 14, 0.1);
    margin: 32px auto;
}
footer h1{
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}
footer .icon_wrapper{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.footer .icon_wrapper img{
    width: 24px;
}









/* shared classes */
.section_heading{
    font-size: 40px;
    font-weight: bold;
    color: var(--dark);
}
.section_description{
    font-size: 16px;
    color: var(--dark);
}
.secondary_btn{
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    color: var(--button_color);
    background-color: transparent;
    border: 2px solid var(--button_color);
    border-radius: 8px;
    outline: none;
    transition: .5s;
    cursor: pointer;
}
.secondary_btn:hover{
    color: var(--white);
    background: var(--button_color);
}
.primary_btn{
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    background: #006A50;
    color: var(--white);
    border-radius: 8px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: .5s;
}
.primary_btn:hover{
    background: transparent;
    border-color: var(--button_color);
    color: var(--button_color);
}

section{
    width: 1280px;
    margin: 80px auto 0;
}

.section_heading{
    font-size: 40px;
    font-weight: bold;
    color: var(--dark);
    margin-bottom: 24px;
    margin-top: 0;
}
.section_description{
    margin-bottom: 32px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 1.5;
}
